.ball {
	animation: loop 5s infinite;
	background: #e5511b;
	width: 10px;
	height: 10px;
	border-radius: 50px;
}

@keyframes loop {
	0% {transform: translate(0,0%);}
	/*25% {transform: translate(2500%, 0px);}*/
	50% {transform: translate(500%, 0px);}
	/*75% {transform: translate(2500%, 0px);}*/
	100% {transform: translate(0%, 0%);}
}
