.links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 75%;
	margin: auto;
}

a{
	color: white;
	margin: 3%;
	color: inherit;
    text-decoration:none; 
}


.linkout{
	width:4em;
	height: 4em;
}