.slide-enter {
animation: slide-enter 10s linear;
}

.enter-up {
animation: load 10s linear;
}

.container-text {
   position: relative;
}

.skills{
	left: -75%;
}

.traits{
	left: 75%;
}
.background-text {
   background-color: inherit;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
}



@keyframes slide-enter {
0% {transform: translate(-25%,0); opacity:0;}
100% {transform: translate(0px, 0px); opacity:1;}
}

@keyframes enter-up {
0% {transform: translate(0%,0); opacity:0;}
100% {transform: translate(-25%, 0px); opacity:1;}
}