body {
  background: #e5511b;
}

.App {
  text-align: center;
  background: #e5511b;
  font-family: 'Gruppo', cursive;
  color: #e0e0e0;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.up-down {
  animation: up-down infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes up-down {
  100% { transform: translateY(0em); }
  50% { transform: translateY(5em); }
  0% { transform: translateY(0em); }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.centered_profile {
  
  display: flex;

  flex-direction: column;
  align-items: center;
    justify-content: center;
  }